body {
  margin: 0;
  font-family: sans-serif;
}

header, section, article, footer {
  margin: 20px;
  padding: 15px;
}

header {
  background-color: #3698f4;
}

.art1 {
  background-image: url('./imagenes/fondo.svg');
  background-size: cover;
  color: rgb(0, 155, 194);
}

.art2 {
  background-image: url('./imagenes/fondo.svg');
  background-size: cover;
  color: rgb(0, 106, 133);
}

footer {
  background-color: #2196f3;
}

.enlaces a {
  display: block;
  margin: 5px 0;
  color: #000;
  text-decoration: none;
}